:root {
    
    color:white;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    --main-bg-color: hsl(218, 28%, 13%);
    --intro-mail-bg: hsl(217, 28%, 15%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);
    --cyan-accent:hsl(176, 68%, 64%);
    --blue-accent: hsl(198, 60%, 50%);
    --light-red-accent: hsl(0, 100%, 63%);
}



body {
    background-color: var(--main-bg-color);
    margin: 0px;
    padding: 0rem;
}

.main_logo {
    display: flex;
    align-items: center;
    max-width: 35%;
    
}
.main_logo img {
    width: 7rem;
    
}

.intro_img {
    max-height: 100%;
    object-fit:contain;
    padding: 40px

}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--intro-mail-bg);
    padding-top: 2rem;
}
.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    max-width: 20rem;
    width: 40vw;
    justify-content: space-around;
}
.nav-item{
    flex: 0 0 auto; 
    padding: 0 0.4rem;


}
.nav-item a {
    color: white;
    margin: 0;
    font: 1rem Raleway;
    text-decoration: none;
    font-weight: 200;
}

.nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: var(--cyan-accent);
}


h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}



.main_intro {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
    
     background: url(/images/bg-curvy-mobile.svg) no-repeat bottom/100% var(--intro-mail-bg) ;
     
}

.main_intro, .description_card {
    text-align: center;
    
}
 /*
    font: 700 1.4rem "Raleway", sans-serif;
    background: linear-gradient(90deg, hsl(176, 68%, 64%) -60%, hsl(198, 60%, 50%) 100%);
    width: 25rem;
    height: 5rem;
    align-self: center;
    border-radius: 100rem;
 
 */
.get_started_button {
    font: 700 1.4rem "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, hsl(176, 68%, 64%) -60%, hsl(198, 60%, 50%) 100%);
    width: 25rem;
    height: 5rem;
    align-self: center;
    color: white;
    text-decoration-line: none;
    border-radius: 100rem;
    align-items: center;
}

.productive_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 3rem; 
    margin-bottom: 12rem;
    max-width: 40rem;
    margin:auto
    padding: 3rem
    
}

.productive_card img {
    object-fit:contain;
    max-width: 80%;
    
}
.productive_card .blue_link {
    align-self: flex-start;
    color: var(--cyan-accent);
    text-decoration: none;
}

.blue_link span {
    display: inline-block;
    padding-bottom:0.5rem;
    border-bottom: 1px solid var(--cyan-accent);
}



.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment_card {
    display: flex;
    padding: 2rem;
    margin: 0 auto;
    flex-direction: column;
    background-color: var(--testimonials-bg);
    margin-bottom: 3rem;
    max-width: 40rem;
    
}
.comment_card:last-of-type{
    margin-bottom: 0;
}
.comment_author_picture {
    border-radius: 50%;
    height: 3rem;
}

.comment_caption {
    display: flex;
    align-items: center;
    
    
}
.comment_caption p {
    margin: 0;
}

.comment_author_wrap {
    margin-left: 1rem;
}

.username {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.user_description {
    font-size: 0.9rem;
}

.get_started {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 3rem;
    background-color: var(--intro-mail-bg);
    border-radius: 0.8rem;
    padding: 2rem;
    box-shadow: 0px 20px 12px 2px #00000029;
    position: relative;
    top: 180px;
    max-width: 40rem;
    margin:auto;
}

.early_access_form {
    display: flex;
    flex-direction: column;
    
    
}

.early_access_form input {
    font: 700 1.4rem "Raleway", sans-serif;
    background-color: white;
    width: 25rem;
    height: 5rem;
    align-self: center;
    border-radius: 100rem;
    border: none;
    margin-bottom: 2rem;
    
}

.early_access_form input::placeholder {
    font:  1.2rem "Raleway", sans-serif;
    color:hsl(0, 0%, 74%);
    padding-left: 3rem;
}

.early_access_form button {
    color: white;
    font: 700 1.4rem "Raleway", sans-serif;
    background: linear-gradient(90deg, hsl(176, 68%, 64%) -60%, hsl(198, 60%, 50%) 100%);
    width: 25rem;
    height: 5rem;
    align-self: center;
    border-radius: 100rem;
    border: none;
}

footer {
    
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-top: 20rem;
}

.footer_container {
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto
}

.email {
    margin-bottom: 3rem;
    margin-top: 1em;
}

.about_links, .terms_links {
    display: flex;
    flex-direction: column;
    margin-bottom: 
}

.about_links a, .terms_links a, .phone_number, .email {
    color: white;
    text-decoration-line: none;
}
.about_links a:hover, .terms_links a:hover, .email:hover, .phone_number:hover {
    text-decoration-line:   underline;
    text-decoration-color: var(--cyan-accent);
}

.about_links {
    margin-bottom: 3rem;
}

.footer_logo {
    display: block;
    margin-bottom: 3rem;
    max-width:fit-content;
}
.footer_description{
    margin-left: 3rem;
    font-size: 1.2rem
}
.footer_description::before {
    content: url(/images/icon-location.svg);
    position: relative;
    left: -3rem;    
}


.phone_number, .email {
    margin-left: 3rem;
}
.phone_number::before {
    content: url(/images/icon-phone.svg);
    position: relative;
    left: -3rem;  
}

.email::before {
    content: url(/images/icon-email.svg);
    position: relative;
    left: -3rem;  
}
